<section class="gradient-custom-2 ">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center ">
      <h1 class=" d-flex justify-content-center align-items-center seller" >Become a Seller</h1>
      <div class="col-12">
        <div class="card " style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #ad2b2b;">Product Detail</h3>

                  <div class="mb-4 pb-2">
                     <label class="form-label">Product Category -> </label>
                    <select class="select"  [(ngModel)]="category"
                    [ngModelOptions]="{standalone: true}" >
                      <option value="category">category</option>
                      <option value="vegetables">vegetables</option>
                      <option value="seeds">seeds</option>
                      <option value="fertilizer">fertilizer</option>
                    </select>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev2" class="form-control form-control-lg" [(ngModel)]="farmerName"
                        [ngModelOptions]="{standalone: true}" />
                        <label class="form-label" for="form3Examplev2" >Farmer Name</label>
                      </div>

                    </div>
                   
                  </div>

                  <!-- <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Position</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div> -->

                  <div class="mb-4 pb-2">
                    
                    <div class="form-outline">
                      <input type="text" id="form3Examplev2" class="form-control form-control-lg" [(ngModel)]="productName"
                      [ngModelOptions]="{standalone: true}" />
                      <label class="form-label" for="form3Examplev2">Product-Name</label>
                    </div>
                    <div class="form-outline">
                      <input type="text" id="form3Examplev4" class="form-control form-control-lg"[(ngModel)]="productDetails"
                      [ngModelOptions]="{standalone: true}"  />
                      <label class="form-label" for="form3Examplev4">Product-Details</label>
                    </div>
                  </div>
                   <div class="mb-4 pb-2"> <label class="form-label">Product Quantity -> </label>
                    <select class="select" [(ngModel)]="productQuantity"
                    [ngModelOptions]="{standalone: true}">
                      <option value="1">Quantity</option>
                      <option value="2KG - 5KG">2KG - 5KG</option>
                      <option value="5KG - 10KG">5KG - 10KG</option>
                      <option value="10KG - 50KG">10KG - 50KG</option>
                      <option value="50KG - 200KG">50KG - 200KG</option>
                      <option value="200KG - 500KG">200KG - 500KG</option>
                      <option value="500KG - 1Ton">500KG - 1Ton</option>
                      <option value="Above 1 Ton">Above 1 Ton</option>
                    </select>
                  </div>

                  <!-- <div class="row">
                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev5" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev5">Bussines Arena</label>
                      </div>

                    </div>
                    <div class="col-md-6">

                      <select class="select">
                        <option value="1">Employees</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>

                    </div>
                  </div> -->

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Contact Details</h3>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" [(ngModel)]="address"
                      [ngModelOptions]="{standalone: true}"  />
                      <label class="form-label" for="form3Examplea2">Address</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="number" id="form3Examplea3" class="form-control form-control-lg" [(ngModel)]="pincode"
                      [ngModelOptions]="{standalone: true}"  />
                      <label class="form-label" for="form3Examplea3">Pincode</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea4" class="form-control form-control-lg" [(ngModel)]="mobileNo"
                        [ngModelOptions]="{standalone: true}" />
                        <label class="form-label" for="form3Examplea4">Phone-Number </label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea5" class="form-control form-control-lg" [(ngModel)]="altertiveMobileNo"
                        [ngModelOptions]="{standalone: true}" />
                        <label class="form-label" for="form3Examplea5">altertiveMobileNo</label>
                      </div>

                    </div>
                  </div>

                  <!-- <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="form3Examplea6" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea6">Country</label>
                    </div>
                  </div> -->

                  <!-- <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea7" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea7">Code +</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea8">Phone Number</label>
                      </div>

                    </div>
                  </div> -->

                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <input type="email" id="form3Examplea9" class="form-control form-control-lg" [(ngModel)]="email"
                      [ngModelOptions]="{standalone: true}" />
                      <label class="form-label" for="form3Examplea9">Your Email</label>
                    </div>
                  </div>

                  <!-- <div class="form-check d-flex justify-content-start mb-4 pb-3">
                    <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label text-white" for="form2Example3">
                      I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                      site.
                    </label>
                  </div> -->

                  <button type="button" class="btn btn-light btn-lg"
                data-mdb-ripple-color="dark" (click)="sell_product()">Sell product</button>
                    

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>