<app-nav-bar></app-nav-bar>
<!-- <section>
  <div class="text-center mx-5 prolist-text">
    <h1>Vegetables</h1>
  </div>
  <div class="container">
    @for (prod of products; track prod.id) {
    <h2>name:{{ prod!.product_name }}</h2>
    <h3>price:{{ prod!.our_price }}</h3>
    <h1>m.price:{{ prod!.market_price }}</h1>
    <h1>solgan:{{ prod!.slogan }}</h1>
    }
    <br />
  </div>
</section> -->

<!------------------------------------------set1------------------------------------------------>
<section class=" shadow-5 set1">
<div class="row justify-content-center mb-3 mx-5  ">
  <div class="text-center mx-5 prolist-text">
    <h1>Vegetables</h1>
  </div>
    <div class="col-md-12 ">
      @for (prod of products; track prod.id) {
      <div class="card  border rounded-3">
        <div class="card-body">
         
          <div class="row g-0">
           @if (prod.id%2==0) {
            <div class="col-xl-3 col-md-4 d-flex justify-content-center">
              <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                <img src="{{ prod!.image}}" alt="h-150 w-250" class=" vanakkam" />
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-md-5 col-sm-7">
              <h5>{{ prod!.product_name }}</h5>
              <div class="d-flex flex-row">
                <div class="text-warning mb-1 me-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
                  <span class="ms-1">
                    {{ prod!.ratings }}
                  </span>
                </div>
                <span class="text-muted">Stock : {{prod!.in_stock}}</span>
              </div>

              <p class="text mb-4 mb-md-0">
                {{ prod!.slogan }}
              </p>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-5">
              <div class="d-flex flex-row align-items-center mb-1">
                <h4 class="mb-1 me-1">{{ prod!.our_price }}&#8377;</h4>
                <span class="text-danger"><s>{{ prod!.market_price }}&#8377;</s></span>
              </div>
              <h6 class="text-success">Free shipping</h6>
              <div class="mt-4">
                <a href="product-detail1/{{prod!.id}}"> <button class="btn btn-primary shadow-0" type="button">Buy this</button></a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg px-1"></i></a>
              </div>
            </div>
           }@else {
            <div class="col-xl-6 col-md-5 col-sm-7 fw-400 ">
              <h5 >{{ prod!.product_name }}</h5>
              <div class="d-flex flex-row">
                <div class="text-warning mb-1 me-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <span class="ms-1">
                    {{ prod!.ratings }}
                  </span>
                </div>
                <span class="text-muted">Stock : {{prod!.in_stock}}</span>
              </div>

              <p class="text mb-4 mb-md-0">
                {{ prod!.slogan }}
              </p>
            </div>

            <div class="col-xl-3 col-md-3 col-sm-5">
              <div class="d-flex flex-row align-items-center mb-1">
                <h4 class="mb-1 me-1">{{ prod!.our_price }}&#8377;</h4>
                <span class="text-danger"><s>{{ prod!.market_price }}&#8377;</s></span>
              </div>
              <h6 class="text-warning">Paid shipping</h6>
              <div class="mt-4">
                <a href="product-detail1/{{prod!.id}}"><button class="btn btn-primary shadow-0" type="button">Buy this</button></a>
                <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg px-1"></i></a>
            </div>
            </div>
            <div class="col-xl-3 col-md-4 d-inline-block ">
              <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                <img src="{{ prod!.image}}" class="w-100  " class="vanakkam"/>
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                  </div>
                </a>
              </div>
            </div>
           }
           
          
            <br>
            
          </div>
        
        </div>
      </div>
      <br>
      
    }
    </div>
  </div>
</section>


<app-footer></app-footer>
