

.title{
  margin-left: 25px;
 font-family: impact;
 background: linear-gradient(to right,#30cfd0 0%,#086738 100%);
 background-clip: text;
 color:transparent;
}



/*...............................................................................................................*/
.nvi{
  background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705708800&semt=ais);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
  position: relative;
}
.main-navbar .top-navbar{
  background-color: #2874f0;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.main-navbar .top-navbar .brand-name{
  color: #fff;
}
.main-navbar .top-navbar .nav-link{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar{
  padding: 0px;
  backdrop-filter:blur(15px);
  background:rgba(255,255,255,0.2);
 
}
.main-navbar .navbar .nav-item .nav-link{
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link{
      font-size: 12px;
      padding: 8px 10px;
  }
}


/*-------------------------------------------------------------*/
.king{
  color: #000 !important;
}
.logo{
  height: 95px;
  width:95px;
}