<section class=" d-flex justify-content-center align-items-center vh-100  full-form">
    <div class="wrapper">
    <h2>Registration</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required  [(ngModel)]="user_name"
        [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" required [(ngModel)]="user_email" [ngModelOptions]="{standalone:true}" >
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" required [(ngModel)]="password" [ngModelOptions]="{standalone:true}">
      </div>



      <!-- <div class="input-box">
        <input type="password" placeholder="Confirm password" required>
      </div> -->
      <!-- <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div> -->



      <div class="input-box button">
        <input type="Submit"  (click)="register()" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="login">Login now</a></h3>
      </div>
    </form>
  </div>
</section>



<!-- <section class="page_6">
<div class="container">
<div class="row">
  <p class="heading">The Science of Reading <br>
    Research in Action</p>
    <p class="sub-heading"><b>Decoding with Language Comprehension <br>
      Results in Reading Comprehension</b></p>
      <p class="bullets">Benchmark Phonics is designed to reflect current and confirmed <br>
        research on learning to read and teaching reading. <br>
        • Explicit and Systematic Phonics Instruction <br>
        • Built-In Review and Repetition Cycle <br>
        • Frequent Application to Reading and Writing <br>
        • Regularly Builds Vocabulary and Content Knowledge</p>
</div>
<div class="row secondhalf">
  <div class="p-4"><p class="heading2">Why Structured Literacy Works</p>
  <p class="sub-heading2">Structured literacy explicitly teaches phonics and word study skills and strategies. <br>
    These benefit all students, but especially students with dyslexia.</p></div>
    <div class="p-5 d-flex yes">
      <div class="col-6 yah ">
     <p class="sub-heading"><b>Explicit Instruction and Practice</b></p>
     <p>Phonics Intervention provides deliberate, <br> 
      clear teaching of all aspects of foundational  <br>
      skills in the program. The focus is on daily  <br>
      application to both reading and writing—not  <br>
      isolated skill practice</p>
    </div>
    <div class="col-6  yah ">
      <p class="sub-heading"><b>Systematic and Purposeful </b></p>
    </div></div>
</div>

</div>
</section> -->