
<!----------------------------------------homeImage------------------------------------------------------------------------------------->
<section class="homeimage">
  <div class="container-fluid p-0">
    
    <div
      class="homeimg "
      style="
        background-image: url(https://pd.w.org/2023/05/246466f95cdb0c16.14481928.jpeg);">
        <div class="nvi">
          <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
              <!-- Container wrapper -->
              <div class="container-fluid">
            <div class="  title">GrowerGoods</div>
                <!-- Collapsible wrapper -->
                <div
                  class="collapse navbar-collapse justify-content-center"
                  id="navbarCenteredExample" >
                  <!-- Left links -->
                  <h1 class=" title">GrowerGoods</h1>
                  <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
          
                <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
                  <div class="container-fluid">
                    <ul class="navbar-nav d-flex flex-row">
                      <!--  login Icons -->
                      <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="cart">
                           <h3 class="title">Cart <i class="fas fa-shopping-cart"></i></h3>
                        </a>
                      </li>
                     
                      <!-- Icon login -->
                      <li class="nav-item me-3 me-lg-0 ">
                          <a class="nav-link" href="login">
                              <h3 class="title">Login <i class="fas fa-user"></i></h3>
                           </a>
                        
              
                     
                      </li>
                    </ul>
                  </div>
                </nav>
          
          
          
              </div>
              <!-- Container wrapper -->
            </nav>
          <!------------------------------------------...............................................---------------------------------------------->
          <section id="topname">
          <div class="main-navbar shadow-sm sticky-top">
              <nav class="navbar navbar-expand-lg ">
                  <div class="container-fluid">
                      <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                          GrowersGoods
                      </a>
                     
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Home</a>
                              </li>
                              <li class="nav-item">
                                  <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Category
                                      <span class="caret"></span></button>
                                      <ul class="dropdown-menu ">
                                        <li class="text-decoration-none"><a href="product-list1" >Vegetables</a></li>
                                        <li><a href="product-list2">Seeds</a></li>
                                        <li><a href="product-list3">Fertilizer</a></li>
                                      </ul>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="new-arrival">New Arrivals</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="featured-products">Impending Products</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Electronics</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Fashions</a>
                              </li>
                             
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
        </section>
      </div></div>
        
  </div>
</section>
<!-----------------------------------------------products1 title "Vegetable"---------------------------------------------------------------------------------->
<div class=" text-center  mx-5 prolist-text"><h1>Vegetables</h1></div>
<!-----------------------------------------------products1---------------------------------------------------------------------------->
<section class="products1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets\home\pro1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="product-detail2" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <!-----------------------------------------------products2----------------------------------------------------->
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets\home\pro2.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Pumpkin</h5>
            <p class="card-text"></p>
            <a href="product-detail3" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <!-----------------------------------------------products3----------------------------------------------------->
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets\home\pro3.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Cauliflower</h5>
            <p class="card-text"></p>
            <a href="product-detail1" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <!-----------------------------------------------products4----------------------------------------------------->
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets\home\pro4.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Carrot</h5>
            <p class="card-text"></p>
            <a href="product-detail4" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <!-----------------------------------------------products5----------------------------------------------------->
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets\home\pro5.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Onion</h5>
            <p class="card-text"></p>
            <a href="product-detail5" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <!-----------------------------------------------products6----------------------------------------------------->
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets\home\pro6.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Beetroot</h5>
            <p class="card-text"></p>
            <a href="product-detail6" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-------------------------------------------------------------fruits long image----------------------------------------------->
<section class="longone">
  <div class="container  my-4">
  
    <img src="assets\home\1.jpg" class="w-100 seeds" alt="...">

  </div>
</section>
<!-----------------------------------------------products1 title "Vegetable"---------------------------------------------------------------------------------->
<div class=" text-center  mx-5 prolist-text"><h1>SEEDS</h1></div>
<!-------------------------------------------------------------products of seeds------------------------------------------------>

<section class="products1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-------------------------------------------------------------seeds long img----------------------------------------------->
<section class="longone ">
  <div class="container  my-4">
  
    <img src="assets\home\2.avif" class="w-100 seeds" alt="...">

  </div>
</section>
<!-----------------------------------------------products1 title "Vegetable"---------------------------------------------------------------------------------->
<div class=" text-center  mx-5 prolist-text"><h1>Fertilizer</h1></div>
<!-------------------------------------------------------------products of fertilizer----------------------------------->
<section class="products1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="card mt-5" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://freepngimg.com/thumb/ladyfinger/42356-1-lady-finger-free-download-png-hd.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Ladies Finger</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Click</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-------------------------------------------------------------fertilizer long img----------------------------------->
<section class="longone ">
  <div class="container  my-4">
  
    <img src="assets\home\3.avif" class="w-100 seeds" alt="...">

  </div>
</section>
<app-footer></app-footer>
